a {
  text-decoration: none;
  color: var(--text-colour-primary);
}

.gradient-text {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --bg-outer: #131D20;
  --bg-main: #1D2B30;
  --bg-main-transparent: #2e2e2ebf;
  --text-colour-secondary: #CFDEE2;
  --text-colour-primary: #FAFCFC;
  --primary-colour: #046E8F;
  --forecast-colour: #B8BB13;
  --secondary-colour: #03485D;
  --secondary-colour-hover: #053746;
  --green: #49AA49;
  --red: #D55959;
  --shadow-inner-menu: 0 0px 6px 1px rgba(63, 63, 63, 1)
}

[data-theme='light'] {
  --bg-outer: #ECF2F4;
  --bg-main: #FAFCFC;
  --bg-main-transparent: #ffffff8f;
  --text-colour-secondary: #666666;
  --text-colour-primary: #1D2B30;
  --primary-colour: #046E8F;
  --secondary-colour: #03485D;
  --secondary-colour-hover: #053746;
  --green: #21D321;
  --red: #E54A4A;
  --shadow-inner-menu: 0 0px 6px 0px rgba(156, 163, 175, 0.5)
}

/* For a smooth transition between light and dark mode */
* {
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease;
}

/* For pulsating background */
.bg-svg {
  background-image: url('./assets/bgBlur.svg');
  background-size: cover; /* or contain depending on your needs */
  background-position: center;
}

.nav-link {
  display: flex;
  align-items: center;
  position: relative; /* This makes it a reference for absolutely positioned children */
  padding-left: 2rem; /* Adjust padding to accommodate the badge */
}


