a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important; 
}

a, a:visited, a:focus {
  color: inherit;  
  text-decoration: none; 
  outline: none;
}

.veryhigh-score-text {
  background: linear-gradient(to right, #3cec48, #19882f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.high-score-text {
  background: linear-gradient(to right, #6ecd74, #3e904e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mid-score-text {
  background: linear-gradient(to right, #abdd64, #c5b930);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.low-score-text {
  background: linear-gradient(to right, #f5983a, #e0470f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.verylow-score-text {
  background: linear-gradient(to right, #f33e3e, #ee1313);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --bg-outer: #131D20;
  --bg-main: #1D2B30;
  --bg-main-transparent: rgba(57, 57, 57, 0.38);
  --text-colour-tertiary: #b9dae5;
  --text-colour-secondary: #CFDEE2;
  --text-colour-primary: #FAFCFC;
  --primary-colour: #046E8F;
  --forecast-colour: #B8BB13;
  --secondary-colour: #03485D;
  --secondary-colour-hover: #053746;
  --green: #49AA49;
  --red: #D55959;
  --shadow-inner-menu: 0 0px 6px 1px rgba(63, 63, 63, 1);
  --mainImg: url('/public/BG.svg');
  --veryLowColour: #0dc700;
  --lowColour: #4fb600;
  --midColour: #bbc800 ;
  --highColour: #c66300;
  --veryHighColour: #c60000;

}

[data-theme='light'] {
  --bg-outer: #ECF2F4;
  --bg-main: #FAFCFC;
  --bg-main-transparent: #ffffff7b;
  --text-colour-secondary: #666666;
  --text-colour-primary: #2a3a40;
  --text-colour-tertiary: #828282;
  --primary-colour: #046E8F;
  --secondary-colour: #03485D;
  --secondary-colour-hover: #053746;
  --green: #21D321;
  --red: #E54A4A;
  --shadow-inner-menu: 0 0px 6px 0px rgba(156, 163, 175, 0.5);
  --mainImg: url('/public/BGLight.svg');
}

/* For a smooth transition between light and dark mode */
* {
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease;
}

/* For pulsating background */
.bg-svg {
  background-image: url('./assets/bgBlur.svg');
  background-size: cover; /* or contain depending on your needs */
  background-position: center;
}

.nav-link {
  display: flex;
  align-items: center;
  position: relative; /* This makes it a reference for absolutely positioned children */
  padding-left: 2rem; /* Adjust padding to accommodate the badge */
  color: inherit; /* or any color you want */
  text-decoration: none !important;
}

.flex-row::-webkit-scrollbar {
  height: 12px; 
  border-radius: 6px; 
}

/* Style the background of the scrollbar track with rounded edges */
.flex-row::-webkit-scrollbar-track {
  background: #64707459; /* Light grey background */
  border-radius: 6px; /* Rounded edges for the track */
  box-shadow: inset 0 0 2px var(--bg-outer); /* Optional: Adds inset shadow for some depth, can simulate a sort of "padding" effect */
}

/* Style the scrollbar thumb (the moving part) with rounded edges */
.flex-row::-webkit-scrollbar-thumb {
  background: var(--bg-outer); /* Darker grey thumb */
  border-radius: 6px; /* Rounded edges for the thumb */
}

/* Optional: Style the scrollbar thumb on hover */
.flex-row::-webkit-scrollbar-thumb:hover {
  background: #11181a; /* Even darker grey on hover */
}

.glassEffect {
  box-shadow: 0 8px 32px 0 #046f8f4f;
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassEffectNoShadow {
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
